body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 7%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.color-picker {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.color-box {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: transparent;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    text-align: center;
}

.inputs {
    margin: 10px 0;
}

input[type="number"],
input[type="range"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 42, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}